[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.9.1"
django = "*"
djangorestframework = "*"
pillow = "*"
sqlparse = "==0.5.3"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
